//Topbar

.navbar {
    height: $topbar-height;
    .navbar-brand {
      margin-left: 10px;
      img {
        width: $navbar-brand-size;
        height: $navbar-brand-size;
      }
    }
    .user-image {
      border: 2px solid $success;
    }
  
    .navbar-right {
        flex: 1;
        margin-left: 18px;
    }
}